.float-left {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 15px;
}

.rounded {
  margin: 5px;
  width: 200px;
  height: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.bg {
  position: relative;
  background-image: url("./Images/Background2.JPG");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.window {
  position: absolute;
  border: 30px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: grey;
  background-color: white;
  border-radius: 15px;
}

.tabName {
  width: 25%;
  height: 30px;
  font-size: 20px;
  background-color: blue;
  text-align: center;
  border: 1px solid grey;
  opacity: 1;
}

.window3 {
  top: 6%;
  right: 1%;
  left: 5%;
  bottom: 7%;
  z-index: 1;
}

.window2 {
  top: 11%;
  right: 3%;
  left: 3%;
  bottom: 5%;

  z-index: 2;
}

.window1 {
  top: 16%;
  right: 5%;
  left: 1%;
  bottom: 3%;
  z-index: 3;
}

a {
  font-family: "Alfa Slab One", cursive;
  color: white;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 300%;
  color: black;
  text-shadow: 2px -2px 2px grey;
}

.mainTitle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.navElements {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75%;
  background-color: black;
  text-align: center;
  z-index: 1;
}

.navElement {
  color: white;
  display: inline;
  margin: 1%;
}

.fab {
  margin: 5px;
}

.btn {
  margin: 10px;
}

.card-img-top {
  height: 300px;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

.titlePosition {
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  text-align: center;
}

.firstTitle {
  text-shadow: 4px -4px 4px white;
  font-size: 500%;
}

.infoBlock {
  scroll-margin-top: 50px;
  margin: 0.5%;
  margin-bottom: 4%;
}

.internalElements {
  margin: 0.5%;
}

.secondTitle {
  text-shadow: 1px -1px 1px white;
}
