.float-left {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 15px;
}

.rounded {
  margin: 5px;
  width: 200px;
  height: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.bg {
  position: relative;
  background-image: url("./Images/Background.JPG");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

a {
  font-family: "Secular One", sans-serif;
}

/* h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 50px;
} */

.fab {
  margin: 5px;
}

.btn {
  margin: 10px;
}

.card-img-top {
  height: 200px;
}

.title {
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  text-align: center;
}

.secondaryTitle {
  margin: 0%;
  padding: 0%;
}
